*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px;
}

img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}